.keywordList {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom: 20px;

}

.keyword {
  background-color: #D7E8EA;
  border-bottom: solid 1px #969696;
  padding: 5px;
  margin-right: 10px;
}

.selected {
  background-color:#00464F;
  color: #fff;
}