.reviewList {
  width: 600px;
}

.showing {
  font-size: 13px;
  font-weight: 700;
}

.reviewList select {
  display: block;
  margin: 10px 0;
}

.review {
  color: black;
  font-size: 13px;
  margin: 10px 0;
  padding: 10px;
}

.author {
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  height:30px;
  width:30px;
  margin-right: 10px;
}

.reviewInfo {
  margin: 10px 0;
}
.headline {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.headline span {
  display: inline-block;
  margin-left: 5px;
}
.date {
  color: #555;
}
.verified {
  color: #c44500;
  font-weight: 700;
  font-size: 11px;
}

.body {
  font-size: 13px;
  line-height: 19px;
  margin: 10px 0;
}
.body p {
  margin-top: 0;
}

.images {
  display: flex;
}
.images div {
  height: 88px;
  width: 88px;
  margin-right: 1px;
}

.footer {
  margin-top: 5px;
}
.footer > div {
  margin: 10px 0;
}

.helped {
  color: #767676;
} 

.helpful {
  composes: styledButton from '../styled_components/stylesComponents.css';
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.styledLink {
  composes: styledLink from '../styled_components/stylesComponents.css';
  color: black;
}

.clearFilter {
  composes: styledLink from '../styled_components/stylesComponents.css';
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
}

.actions a:hover {
  text-decoration: none;
}